AWS_REGION=us-east-1
AWS_ACCOUNT_ID=tu-id-cuenta
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
AWS_SESSION_TOKEN=...
EKS_CLUSTER_NAME=iseeu-cluster
EKS_NAMESPACE=iseeu
ECR_REPO_BACKEND=namespace/iseeu-backend
ECR_REPO_FRONTEND=namespace/iseeu-frontend
IMAGE_TAG=v1
